/* Stylesheet by Kayne Neigherbauer, 2017 */

.County {
    fill: lightgrey;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.states {
    fill: beige;
    stroke: lightgrey;
    stroke-width: 1px;
}

.map {
    background-color: lightskyblue;
    border: thin solid #999;
    margin: 5px 0 0 20px;
}

.chart {
    background-color: lightgray;
    border: thin solid #999;
    float: right;
    margin: 5px 20px 0 0;
}