/* Stylesheet by Kayne Neigherbauer, 2017 */

.County {
    fill: lightgrey;
    stroke: black;
    stroke-width: 1px;
    stroke-linecap: round;
}

.states {
    fill: beige;
    stroke: lightgray;
    stroke-width: 1px;
}

.map {
    background-color: lightskyblue;
    border: thin solid #999;
    margin: 5px 0 0 20px;
}

.chart {
    background-color: lightgray;
    border: thin solid #999;
    float: right;
    margin: 5px 20px 0 0;
}

.numbers {
    fill: white;
    font-family: sans-serif;
    font-size: 0.5em;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    fill: black;
}

.chartBackground {
    fill: beige;
}
.chartFrame {
    fill: none;
    stroke: lightgray;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill:none;
    stroke: lightgray;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text{
    font-family: sans-serif;
    font-size: 1em;
    fill: black;
}